.TimeButtonOff {
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.TimeButtonOn {
    color: #01DF01;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.statusFastAudio {
    color: rgb(110, 110, 110);
    font-size: 10px;
    background-color: transparent;
    border: none;
}

.TimeButton:hover {
    color: rgb(41, 41, 41);
}